<p-button class="w-full max-w-[17.35rem]" (onClick)="this.showDialog()" pRipple class="p-3">Add New Time to Track</p-button>
<p-dialog header="New Time" [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
  <div class="p-3">
    <p-floatlabel variant="on">
      <input pInputText id="clientName" [(ngModel)]="this.clientName"/> <label for="clientName">Client Name</label>
    </p-floatlabel>
  </div>
  <div class="p-3">
    <p-floatlabel variant="on">
      <input pInputText id="key" [(ngModel)]="this.key"/> <label for="key">Key</label>
    </p-floatlabel>
  </div>
  <div class="flex justify-center p-3">
    <p-button label="Cancel" severity="secondary" (click)="visible = false" class="p-2"/>
    <p-button (click)="visible = false" (onClick)="this.newTime()" type="submit" label="Add Time" class="p-2"/>
  </div>
</p-dialog>
<div class="p-3">
  <p-button (onClick)="this.endDay()" severity="danger" label="End Day"/>
  <p-dialog header="End Day" [(visible)]="endDayDialog" [modal]="true" [style]="{ width: '50rem' }">
    <div class="p-3">
      <p-table [value]="this.times()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #body let-time>
          <tr>
            <td style="width:20%">{{ time.client_name }}</td>
            <td>{{ (Math.ceil((time.total_time / (1000 * 60 * 60)) * 2) / 2).toFixed(2) }}</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="flex justify-center p-3">
        <p-button label="Cancel" severity="secondary" (click)="endDayDialog = false" class="p-2"/>
        <p-button (onClick)="this.resetTimes()" severity="danger" label="Done Entering Time" class="p-2"/>
      </div>
    </div>
  </p-dialog>
</div>
@if (this.times().length > 0) {
  <p-dataView #dv [value]="this.times()" layout="grid" [rows]="4" filterBy="client_name" [paginator]="false">
    <ng-template #grid let-time pTemplate="gridItem">
      <div class="grid grid-cols-6 gap-2">
        @for (t of this.times(); track t.id) {
          <div class="p-2">
            @if (!t.running) {
              <p-button class="w-full max-w-[17.35rem]" outlined (onClick)="this.startTime(t.id)" pRipple>
                <p>{{ t.client_name }}<br>{{ (t.total_time / (1000 * 60 * 60)).toFixed(2) }} hours</p>
              </p-button>
            }
            @if (t.running) {
              <p-button class="w-full max-w-[17.35rem]" raised (onClick)="this.stopTime(t.id)" pRipple>
                <p>{{ t.client_name }}<br>{{ (t.total_time / (1000 * 60 * 60)).toFixed(2) }} hours</p>
              </p-button>
            }
          </div>
        }
      </div>
    </ng-template>
  </p-dataView>
}
