<nav class="bg-gray-800 text-white p-2 flex justify-between items-center">
    <span class="text-xl font-semibold">Time Tracker</span>
    @if (this.authenticated) {
        <span class="flex justify-center text-xl font-semibold">
    <div class="p-1">
      <p-button (onClick)="this.showDialog()" class="w-full max-w-[17.35rem]" pRipple><i class="pi pi-plus"></i> New Client</p-button>
      <p-dialog [(visible)]="this.dialogService.newTimeDialog" [modal]="true" [style]="{ width: '25rem' }" header="New Time">
        <div class="p-3">
          <p-floatlabel variant="on">
            <input [(ngModel)]="this.clientName" id="clientName" pInputText/> <label for="clientName">Client Name</label>
          </p-floatlabel>
        </div>
        <div class="p-3">
          <p-floatlabel variant="on">
            <input (keydown)="getKeyboardInput($event)" [(ngModel)]="this.keyDisp" id="key" pInputText/> <label for="key">Key</label>
          </p-floatlabel>
            @if (this.invalidKey) {
                <div class="text-red-500">That key is already in use</div>
            }
    </div>
    <div class="flex justify-center p-3">
      <p-button (click)="this.dialogService.newTimeDialog = false; this.invalidKey = false; this.clientName = ''; this.key = ''; this.keyDisp = ''" class="p-2" label="Cancel" severity="secondary"/>
      <p-button (click)="this.dialogService.newTimeDialog = false" (onClick)="this.newTime()" class="p-2" label="Add Time" type="submit"/>
    </div>
  </p-dialog>
</div>
            <div class="p-1">
      <p-button (onClick)="this.endDay()" pRipple severity="warn"><i class="pi pi-clock"></i> End Day</p-button>
      <p-dialog [(visible)]="this.dialogService.endDayDialog" [modal]="true" [style]="{ width: '40rem' }" header="End Day">
          <div class="flex justify-center">
            <p-table [tableStyle]="{ 'min-width': '30rem' }" [value]="this.endOfDayTimes" stripedRows>
              <ng-template #body let-time>
                <tr>
                  <td style="width:20%">{{ time.client_name }}</td>
                  <td>{{ (Math.ceil(((time.total_time - 300000) / (1000 * 60 * 60)) * 2) / 2).toFixed(2) }}</td>
                </tr>
              </ng-template>
              <ng-template #footer>
                <tr>
                  <td class="font-bold">TOTAL</td>
                  <td class="font-bold">{{ this.endOfDayTimesTotal }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="flex justify-center p-3">
            <p-button (click)="this.dialogService.endDayDialog = false" class="p-2" label="Cancel" severity="secondary"/>
            <p-button (onClick)="this.resetTimes()" class="p-2" label="Done Entering Time"/>
          </div>
      </p-dialog>
    </div>
            <div class="p-1">
      <p-button (onClick)="this.dialogService.deleteDialog = true" pRipple severity="danger"><i class="pi pi-trash"></i> Delete Times</p-button>
      <p-dialog [(visible)]="this.dialogService.deleteDialog" [modal]="true" [style]="{ width: '50rem' }" header="End Day">
        <div class="p-3">
          <p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="this.dialogService.times()">
            <ng-template #body let-editing="editing" let-time>
              <tr [pEditableRow]="time">
                <td style="width:20%">{{ time.client_name }}</td>
                <td>{{ (Math.ceil((time.total_time / (1000 * 60 * 60)) * 2) / 2).toFixed(2) }}</td>
                <td>
                  <p-button (onClick)="this.deleteTimes(time)" pCancelEditableRow rounded severity="warn" text type="button">
                    <i class="pi pi-trash"></i>
                  </p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="flex justify-center p-3">
            <p-button (onClick)="this.dialogService.deleteDialog = false" class="p-2" label="Done"/>
          </div>
        </div>
      </p-dialog>
    </div>
        </span>
    }
    <div>
        @if (!this.authenticated) {
            <a class="mr-4" routerLink="/register">Register</a>
        }
    </div>
</nav>
